.mat-raised-button{
  width: 100%;
  margin-top: 8px;
}

.mat-grid-list {
  margin-top: 8px;
}

.map-thumbnail {
  height: 75%;
  width: 75%;
  top: 3px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  box-shadow:  0 3px 7px 1px rgba(0, 0, 0, 0.25), 
               0 2px 2px 0px rgba(0, 0, 0, 0.25), 
               0 1px 5px 0 rgba(0, 0, 0, 0.25);
}

.map-thumbnail.isActive {
  border-color: #28608d;
}

.layer-droparea {
  width: 100%;
  height: 100px;
  margin-top: 8px;
  box-shadow: inset 0px 6px 10px 0px rgba(0, 0, 0, 0.10), 
              inset 0px 3px 9px 2px rgba(0, 0, 0, 0.15), 
              inset 0px 1px 4px 0px rgba(0, 0, 0, 0.25)
  
}

.layer-droparea > p {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}