<button mat-fab [class.mat-elevation-z0]="true" class="home-button" color="accent" (click)="navigateBackHome()">
  <mat-icon>home</mat-icon>
</button>

<mat-drawer-container class="app-container">
  <mat-drawer class="app-sidenav" mode="side" opened="true">

    <h1 style="text-align: center;">AR Map</h1>

    <mat-grid-list cols="1" rowHeight="1:1" gutterSize="10px">
      <mat-grid-tile>
        Place Tokens Below For High-Octane Fun
      </mat-grid-tile>
      <mat-grid-tile style="border: 2px solid black">
        TOKEN AREA
      </mat-grid-tile>
    </mat-grid-list>

  </mat-drawer>
  <mat-drawer-content>
    <div #child #mapDiv style="height: 100%; width: 100%; position:absolute;" leaflet [leafletOptions]="options"
      (leafletMapReady)="setMap($event)" [leafletLayersControl]="layersControl" (window:resize)="onResize($event)">
    </div>
  </mat-drawer-content>
</mat-drawer-container>
