<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="New Portfolio Name" [(ngModel)]="portfolioName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </form>
  <div>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <button mat-raised-button class="input-button" [color]="capcityFile.nativeElement.files.length > 0 ? 'primary' : 'accent'" 
          matTooltip="{{ capacityTooltip }}" (click)="capacityInput.click()">
          Capacity
          <input #capacityInput type="file" style="display:none;" accept=".csv" />
        </button>
      </mat-grid-tile>
      <mat-grid-tile>

        <button mat-raised-button class="input-button" [color]="curtailmentFile.nativeElement.files.length > 0 ? 'primary' : 'accent'"
          matTooltip="{{ curtailmentTooltip }}" (click)="curtailmentInput.click()">
          Curtailment
          <input #curtailmentInput type="file"  style="display:none;"  accept=".csv" />
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button class="input-button" [color]="groupsFile.nativeElement.files.length > 0 ? 'primary' : 'accent'"
          matTooltip="{{ groupsTooltip }}" (click)="groupsInput.click()">
          Groups
          <input #groupsInput type="file" style="display:none;"  accept=".csv" />
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button class="input-button" [color]="powerFile.nativeElement.files.length > 0 ? 'primary' : 'accent'"
          matTooltip="{{ powerTooltip }}" (click)="powerInput.click()">
          Power
          <input #powerInput type="file" style="display:none;"  accept=".csv" />
        </button>
      </mat-grid-tile>
      <mat-grid-tile>

        <button mat-raised-button class="input-button" [color]="resourcesFile.nativeElement.files.length > 0 ? 'primary' : 'accent'"
          matTooltip="{{ resourcesTooltip }}" (click)="resourcesInput.click()">
          Resources
          <input #resourcesInput type="file" style="display:none;"  accept=".csv" />
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button class="input-button" [color]="storageFile.nativeElement.files.length > 0 ? 'primary' : 'accent'"
          matTooltip="{{ storageTooltip }}" (click)="storageInput.click()">
          Storage
          <input #storageInput type="file" style="display:none;"  accept=".csv" />
        </button>
      </mat-grid-tile>
      <mat-grid-tile>

        <button mat-raised-button class="input-button" [color]="storageCapacityFile.nativeElement.files.length > 0 ? 'primary' : 'accent'"
          matTooltip="{{ storageCapactiyTooltip }}" (click)="storageCapacityInput.click()">
          Storage Capacity
          <input #storageCapacityInput type="file" style="display:none;"  accept=".csv" />
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button class="input-button" [color]="summaryFile.nativeElement.files.length > 0 ? 'primary' : 'accent'"
          matTooltip="{{ summaryTooltip }}" (click)="summaryInput.click()">
          Summary
          <input #summaryInput type="file" style="display:none;"  accept=".csv" />
        </button>
      </mat-grid-tile>

    </mat-grid-list>

  </div>
</div>
<hr>
<div mat-dialog-actions>
  <hr>
  <button mat-raised-button color="primary" 
    (click)="uploadFiles()" 
    [disabled]="(capcityFile.nativeElement.files.length > 0 && 
                 curtailmentFile.nativeElement.files.length > 0 && 
                 groupsFile.nativeElement.files.length > 0 && 
                 powerFile.nativeElement.files.length > 0 && 
                 resourcesFile.nativeElement.files.length > 0 && 
                 storageFile.nativeElement.files.length > 0 && 
                 storageCapacityFile.nativeElement.files.length > 0 && 
                 summaryFile.nativeElement.files.length > 0)? 'false' : 'true'">Upload</button>

  <button mat-raised-button color="warn" (click)="onCloseClick()">Cancel</button>
</div>
