<mat-grid-list cols="3" rows="1">
  <mat-grid-tile>
    <img src="./assets/mapthumbnails/street.png" class="map-thumbnail">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="./assets/mapthumbnails/satellite.png" style="border-color:#28608d;" class="map-thumbnail">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="./assets/mapthumbnails/terrain.png" class="map-thumbnail">
  </mat-grid-tile>
</mat-grid-list>

<div appHavenLayerFileDrop class="layer-droparea">
  <p>Drop Layers Here</p>
</div>

<mat-grid-list cols="1" rows="(items | async).length" rowHeight="40px">
  <mat-grid-tile *ngFor="let item of items | async">
    <mat-checkbox color="primary" style="width: 80%">{{ item.name }}
    </mat-checkbox>
    <input type="color" id="html5colorpicker" value="#66c2a5" style="width:20%;">
  </mat-grid-tile>
</mat-grid-list>

<button mat-raised-button color="primary" (click)="createMapWindow()">Create Map</button>
