<mat-form-field>
  <mat-select placeholder="Year Select" [(value)]="selShare">
    <mat-option *ngFor="let share of scenariosService.getScenarioSharesList()" [value]="share">
      {{ share.percent }}% - {{ share.year }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-grid-list cols="2" rows="2">

  <mat-grid-tile>
    <button mat-icon-button  matTooltip="Line Chart" [color]="selectedChart == 'line' ? 'primary' : 'warn'" (click)="setSelectedChart('line')">
      <mat-icon>show_chart</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-icon-button matTooltip="Bar Chart" [color]="selectedChart == 'bar' ? 'primary' : 'warn'" (click)="setSelectedChart('bar')">
      <mat-icon>insert_chart</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-icon-button matTooltip="Heatmap" [color]="selectedChart == 'heatmap' ? 'primary' : 'warn'" (click)="setSelectedChart('heatmap')">
      <mat-icon>grid_on</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-icon-button matTooltip="Table" [color]="selectedChart == 'list' ? 'primary' : 'warn'" disabled="true" (click)="setSelectedChart('list')">
      <mat-icon>format_list_numbered</mat-icon>
    </button>
  </mat-grid-tile>

</mat-grid-list>

<!-- <button mat-raised-button color="primary" (click)="createChartWindow()">Create Chart</button> -->
<button mat-raised-button color="primary" (click)="capacityChart()">Get Capacity Data</button>
<button mat-raised-button color="primary" (click)="generationChart()">Get Generation Data</button>
<button mat-raised-button color="primary" (click)="demandChart()">Get Demand Data</button>

