.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading-image {
    width: 100px;
    height: 100px;
}

.sync-toggle{
  height: 34px;
  width: 34px;
  top: 80px;
  left: 10px;
  background-color: white;
  border-width: 2px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  z-index: 400;
}

.ar-sync-toggle {
  height: 34px;
  width: 34px;
  top: 118px;
  left: 10px;
  background-color: white;
  border-width: 2px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  z-index: 400;
}