<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" class="app-sidenav" opened>

    <mat-chip-list class="mat-chip-list-stacked">
      <mat-chip *ngFor="let scope of scopes" [color]='scope.color' selected="true" (click)="changeScope(scope)">
        {{ scope.text }}
      </mat-chip>
    </mat-chip-list>

    <br>

    <mat-grid-list cols="2" rows="2" style="top: calc(100% - 220px);">
      <mat-grid-tile *ngFor="let chart of typeOfCharts">
        <button mat-icon-button [matTooltip]="chart.toolTip" [color]="chart.color" (click)="changeChart(chart)" [disabled]="chart.disabled">
          <mat-icon>{{ chart.icon }}</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="!loaded" class="image">
      <img class="loading-image" src="./assets/logo/haven-animation.gif">
    </div>
    <div *ngIf="loaded" #chart class="chart">
      <!-- Chart will appear here -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
