.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.loading-image {
    width: 100px;
    height: 100px;
}

.chart {
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.app-sidenav-content {
  padding: 8px;
  width: 100%;
}

.app-sidenav {
  padding: 8px;
  width: 125px;
  box-shadow: 10px 0px 20px 2px rgba(202, 199, 199, 0.2), 
              2px 0px 6px 3px rgba(125, 125, 125, 0.14), 
              1px 0px 10px 0px rgba(23, 22, 22, 0.12)
}

mat-chip {
  max-width: 100px;
}