<mat-form-field>
  <mat-select placeholder="Scenario" [(value)]="selectedScenario" (selectionChange)="scenarioChange($event)">
    <mat-option *ngFor="let scenario of portfolioService.getScenariosList() | async" [value]="scenario.name">
      {{ scenario.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Renewable Percent" [(value)]="selectedYear">
    <mat-option *ngFor="let reValues of portfolioService.getREValues() | async" [value]="reValues.year">
      {{ reValues.year }} - {{ (reValues.re * 100).toFixed(2) }}%
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Value" [(value)]="selectedValue">
    <mat-option *ngFor="let valuetype of valueTypes" [value]="valuetype.value">
      {{ valuetype.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Scope" [(value)]="selectedScope">
    <mat-option *ngFor="let scope of scopes" [value]="scope.value">
      {{ scope.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-grid-list cols="3" rows="2">
  <mat-grid-tile>
    <button mat-icon-button color="primary">
      <mat-icon>show_chart</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button color="accent">
      <mat-icon>insert_chart</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button color="accent">
      <mat-icon>pie_chart</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button color="warn">
      <mat-icon>bubble_chart</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button color="warn">
      <mat-icon>insert_chart</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button color="warn">
      <mat-icon>show_chart</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<button mat-raised-button color="primary" (click)="createChartWindow()">Create Chart</button>
