<mat-toolbar color="primary" style="height: 40px">
  <span> {{ title }} </span>
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon">verified_user</mat-icon>
</mat-toolbar>

<mat-drawer-container class="app-container">

  <mat-drawer #drawer class="app-sidenav" mode="side">

    <div *ngFor="let button of buttonNames">
      <button mat-raised-button color="accent" class="app-sidebar-button">
        {{ button.name }}
      </button>
    </div>
  </mat-drawer>

  <div class="app-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>

<mat-toolbar color="primary" style="height: 40px"></mat-toolbar>
