<button mat-raised-button color="primary" (click)="openDialog()">New Portfolio</button>

<mat-form-field>
  <mat-select placeholder="Portfolio" [(value)]="selectedPortfolio">
    <mat-option *ngFor="let portfolio of portfolioService.getPortfolioNames() | async" [value]="portfolio.name">
      {{ portfolio.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="loadPortfolio()">Load Portfolio</button>
<button mat-raised-button color="warn" (click)="deletePortfolio()">Delete Portfolio</button>

<mat-form-field>
  <mat-select placeholder="Session" [(value)]="selectedSession">
    <mat-option *ngFor="let session of portfolioService.getSessionList() | async" [value]="session.name">
      {{ session.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="primary" (click)="loadSession()">Load Session</button>
<button mat-raised-button color="primary" (click)="saveSession()">Save Session</button>
<button mat-raised-button color="warn" (click)="deleteSession()">Delete Session</button>

<mat-divider style="margin-top: 8px"></mat-divider>

