.app-container {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.app-sidenav-content {
  padding: 8px;
  width: 100%;
}

.app-sidenav {
  padding: 8px;
  box-shadow: 10px 0px 20px 2px rgba(202, 199, 199, 0.2), 
              2px 0px 6px 3px rgba(125, 125, 125, 0.14), 
              1px 0px 10px 0px rgba(23, 22, 22, 0.12)
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mat-toolbar {
  height: 40px;
}

.drawer-toggle {
  top: 10px;
  position: absolute;
}

.logo {
  position: absolute;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  top: calc(100vh - 55px);
  left: 5px;
  z-index: 1000;
}

.mat-draw-content {
  
}