<h1 mat-dialog-title>Update Layer</h1>
<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="New Layer Name" [(ngModel)]="layerName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-select placeholder="Connected Profiles" [(value)]="selectedProfiles" multiple>
        <mat-option *ngFor="let keyItem of keyList | async" [value]="keyItem.id">
          {{ keyItem.id }} - {{keyItem['station name']}} - {{ keyItem.profile }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="width: 100%; margin-top: 10px; margin-bottom:20px;">
      Layer Color
      <input type="color" [value]="layerColor" style="width:65%; float:right; transform: translateY(-4px)" (change)="changeColor($event)">
    </div>
  </form>
</div>
<hr>
<div mat-dialog-actions>
  <hr>
  <button mat-raised-button color="primary" (click)="updateLayer()">Update Layer</button>
  <hr>
  <button mat-raised-button color="warn" (click)="onCloseClick()">Cancel</button>
</div>
