<div *ngIf="!loaded" class="image">
    <img class="loading-image" src="./assets/logo/haven-animation.gif">
  </div>
  
  <div *ngIf="loaded" #chart style="height: calc(100% - 60px)">
    <!-- Chart will appear here -->
  </div>
  
  <mat-card *ngIf="loaded" style="height: 50px; padding: 5px;">
    <mat-card-content>
      <button mat-mini-fab color="primary" *ngIf="!paused" (click)="playPause()">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-mini-fab color="primary" *ngIf="paused" (click)="playPause()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <mat-slider *ngIf="loaded" [min]="0" [max]="numberOfData" [(ngModel)]="selectedDataSlice" (input)="plotData($event)" style="width: calc(100% - 56px);"></mat-slider>
    </mat-card-content>
  </mat-card>
  